body {
	background-color: blue;
}


table {
	table-layout: initial;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 5px;
	margin-bottom: 5px;
	position: absolute;
	width: 90%;
	height: 97%;
}
tr {
	height: 100px
}
td {
	border: 1px solid yellow;
	width: 30%;
	font-size: 100px;
	text-align: center;
}

td p {
	display: block;
	position: relative;
	margin: 0 auto;
}

.cell {
	border: 1px solid red;
}